@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1670079564902') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\f0161";
}

.icon-gengduo:before {
  content: "\f0112";
}

.icon-shixin:before {
  content: "\e635";
}

.icon-pinglun:before {
  content: "\e619";
}

.icon-androidgengduo:before {
  content: "\e78d";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-shipin:before {
  content: "\e61e";
}

.icon-aixin:before {
  content: "\eca1";
}

.icon-lajitong:before {
  content: "\e615";
}

.icon-24gf-pauseCircle:before {
  content: "\ea81";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-a-ziyuan567:before {
  content: "\e78e";
}

