@font-face {
	font-family: "仓耳渔阳体 W03";
	font-weight: 400;
	src: url("//at.alicdn.com/wf/webfont/fMXyFp0126C7/q61iYwvvp63CRcvkUMsJL.woff2") format("woff2"),
		url("//at.alicdn.com/wf/webfont/fMXyFp0126C7/RpXq-QeP1akj8cYCh6QZn.woff") format("woff");
	font-display: swap;
}

html,
body,
#app {
	height: 100%;
	margin: 0;
	padding: 0;
	min-width: 1366px;
	font-family: "仓耳渔阳体 W03";
}

.hover:hover {
	cursor: pointer;
	color: aquamarine;
	opacity: 0.9;

}

* {
	scroll-behavior: smooth;
}


::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb {
	height: 40px;
	background-color: #ccc;
	border-radius: 16px;
}

::-webkit-scrollbar-thumb {
	height: 5px;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: none;
	-webkit-border-radius: 6px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-right: none;
	background-clip: padding-box;
}
