@font-face {
	font-family: "霞鹜臻楷";
	src: url("@/assets/font/霞鹜臻楷.ttf") ;
	font-display: swap;
}
@font-face {
	font-family: "yezigongchangmiaomiaoti";
	src: url("@/assets/font/yezigongchangmiaomiaoti.ttf") ;
	font-display: swap;
}
* {
	margin: 0;
	padding: 0;
	font-family: "霞鹜臻楷","yezigongchangmiaomiaoti";
	letter-spacing: 0.2px;
	-webkit-tap-highlight-color: transparent;
}

.hover:hover {
	cursor: pointer;
	color: aquamarine;
	opacity: 0.9;

}

* {
	scroll-behavior: smooth;
}


::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb {
	height: 40px;
	background-color: #ccc;
	border-radius: 16px;
}

::-webkit-scrollbar-thumb {
	height: 5px;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: none;
	-webkit-border-radius: 6px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-right: none;
	background-clip: padding-box;
}

@media screen and (max-width:850px){
	.PC{
		display: none!important;
	}
	.monile{
		display: block;
	}
	.mobileSize{
		font-size: 13px!important;
	}
	::-webkit-scrollbar{
		width: 0;
	}
}

@media screen and (min-width:850px){
	.mobile{
		display: none!important;
	}
	.PC{
		display: block;
	}
}